1	VERSIONINFO
FILEVERSION	2,1,1,108
PRODUCTVERSION	4,4,5,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Schedule"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock Plugin"
		VALUE "FileVersion", "2.1.1.108"
		VALUE "InternalName", "schedule.dll"
		VALUE "LegalCopyright", "© 2013-2016 Nick Korotysh"
		VALUE "OriginalFilename", "schedule.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.4.5"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
