1	VERSIONINFO
FILEVERSION	3,1,5,306
PRODUCTVERSION	4,7,2,0
FILEFLAGSMASK	0x3F
FILEFLAGS	0x0
FILEOS		0x40004
FILETYPE	0x2
FILESUBTYPE	0x0
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "Comments", "Alarm"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock Plugin"
		VALUE "FileVersion", "3.1.5.306"
		VALUE "InternalName", "alarm.dll"
		VALUE "LegalCopyright", "© 2013-2018 Nick Korotysh"
		VALUE "OriginalFilename", "alarm.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.7.2"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04E4
}
}
