1	VERSIONINFO
FILEVERSION	1,0,3,31
PRODUCTVERSION	4,3,3,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Always on top"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock Plugin"
		VALUE "FileVersion", "1.0.3.31"
		VALUE "InternalName", "win_on_top.dll"
		VALUE "LegalCopyright", "Copyright (C) 2014 Nick Korotysh"
		VALUE "OriginalFilename", "win_on_top.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.3.3"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
