1	VERSIONINFO
FILEVERSION	1,3,0,70
PRODUCTVERSION	4,4,2,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Date"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock Plugin"
		VALUE "FileVersion", "1.3.0.70"
		VALUE "InternalName", "date.dll"
		VALUE "LegalCopyright", "© 2014-2015 Nick Korotysh"
		VALUE "OriginalFilename", "date.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.4.2"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
