1	VERSIONINFO
FILEVERSION	1,1,0,70
PRODUCTVERSION	4,4,2,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Digital Clock common library"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Common clock library"
		VALUE "FileVersion", "1.1.0.70"
		VALUE "InternalName", "clock_common.dll"
		VALUE "LegalCopyright", "© 2013-2016 Nick Korotysh"
		VALUE "OriginalFilename", "clock_common.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.4.2"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
