1	ICON	resources\1372595747_103169.ico
1	VERSIONINFO
FILEVERSION	4,4,3,661
PRODUCTVERSION	4,4,3,0
FILEOS		0x4
FILETYPE	0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Beautiful clock"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock 4"
		VALUE "FileVersion", "4.4.3.661"
		VALUE "InternalName", "digital_clock.exe"
		VALUE "LegalCopyright", "© 2013-2016 Nick Korotysh"
		VALUE "OriginalFilename", "digital_clock.exe"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.4.3"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
