1	VERSIONINFO
FILEVERSION	1,0,0,16
PRODUCTVERSION	4,2,4,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Tray color"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock Plugin"
		VALUE "FileVersion", "1.0.0.16"
		VALUE "InternalName", "tray_color.dll"
		VALUE "LegalCopyright", "Copyright (C) 2013 Nick Korotysh"
		VALUE "OriginalFilename", "tray_color.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.2.4"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}
