1	VERSIONINFO
FILEVERSION	2,1,0,38
PRODUCTVERSION	4,4,1,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Moving clock"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock Plugin"
		VALUE "FileVersion", "2.1.0.38"
		VALUE "InternalName", "move_clock.dll"
		VALUE "LegalCopyright", "© 2014-2015 Nick Korotysh"
		VALUE "OriginalFilename", "move_clock.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.4.1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
