1	VERSIONINFO
FILEVERSION	1,0,3,96
PRODUCTVERSION	4,5,3,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Digital Clock plugin core library"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Plugin Core Library"
		VALUE "FileVersion", "1.0.3.96"
		VALUE "InternalName", "plugin_core.dll"
		VALUE "LegalCopyright", "© 2016-2017 Nick Korotysh"
		VALUE "OriginalFilename", "plugin_core.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.5.3"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
