1	VERSIONINFO
FILEVERSION	1,3,2,226
PRODUCTVERSION	4,5,7,0
FILEFLAGSMASK	0x3F
FILEFLAGS	0x0
FILEOS		0x40004
FILETYPE	0x2
FILESUBTYPE	0x0
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "Comments", "Digital Clock skin drawing library"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Skin drawing library"
		VALUE "FileVersion", "1.3.2.226"
		VALUE "InternalName", "skin_draw.dll"
		VALUE "LegalCopyright", "© 2013-2017 Nick Korotysh"
		VALUE "OriginalFilename", "skin_draw.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.5.7"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04E4
}
}
