1	VERSIONINFO
FILEVERSION	1,5,1,250
PRODUCTVERSION	4,7,4,0
FILEFLAGSMASK	0x3F
FILEFLAGS	0x0
FILEOS		0x40004
FILETYPE	0x2
FILESUBTYPE	0x0
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "Comments", "Digital Clock skin drawing library"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Skin drawing library"
		VALUE "FileVersion", "1.5.1.250"
		VALUE "InternalName", "skin_draw.dll"
		VALUE "LegalCopyright", "© 2013-2018 Nick Korotysh"
		VALUE "OriginalFilename", "skin_draw.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.7.4"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04E4
}
}
