1	VERSIONINFO
FILEVERSION	1,1,2,63
PRODUCTVERSION	4,7,3,0
FILEFLAGSMASK	0x3F
FILEFLAGS	0x0
FILEOS		0x40004
FILETYPE	0x2
FILESUBTYPE	0x0
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "Comments", "Countdown timer"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Digital Clock Plugin"
		VALUE "FileVersion", "1.1.2.63"
		VALUE "InternalName", "countdown_timer.dll"
		VALUE "LegalCopyright", "© 2017-2018 Nick Korotysh"
		VALUE "OriginalFilename", "countdown_timer.dll"
		VALUE "ProductName", "Digital Clock"
		VALUE "ProductVersion", "4.7.3"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04E4
}
}
