1	VERSIONINFO
FILEVERSION	1,1,2,57
PRODUCTVERSION	1,1,2,0
FILEOS		0x4
FILETYPE	0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "Custom icon engine to render SVG icons depending on palette"
		VALUE "CompanyName", "Nick Korotysh"
		VALUE "FileDescription", "Palette Icon Engine"
		VALUE "FileVersion", "1.1.2.57"
		VALUE "InternalName", "paletteicon.dll"
		VALUE "LegalCopyright", "© 2017 Nick Korotysh"
		VALUE "OriginalFilename", "paletteicon.dll"
		VALUE "ProductName", "Palette Icon Engine"
		VALUE "ProductVersion", "1.1.2"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
